<%= provide(:title, "Boards") %>
<div class="container">
  <div class="d-flex align-items-center">
    <h1>Boards</h1>
    <div class="ml-auto boards__linkBox">
      <%= render "favorite_filter" %>
      <%= render "tag_filter" %>
      <% if user_signed_in? %>
        <%= link_to 'New Board', new_board_path, class: 'btn btn-outline-dark' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @boards.each do |board| %>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <%= link_to board do %>
              <h4><%= board.title %>(<%= board.comments.size %>)</h4>
            <% end %>
            <% board.tags.each do |tag| %>
              <span class="badge badge-primary"><%= tag.name %></span>
            <% end %>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= board.created_at.to_s(:datetime_jp) %></h6>
            <p class="card-text"><%= board.body.truncate(50) %></p>
          </div>
          <div class="card-footer">
            owner: <%= link_to board.user.name, board.user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @boards %>
</div>
